*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Montserrat Alternates', sans-serif;
}
.contact{
	height: 55vh;
	display: flex;
	flex-wrap: wrap;
	background-color: #EE3325;
	align-items: center;
	justify-content: space-between;
}
@media(max-width: 768px){
	.contact{
		height: 65vh;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
@media(max-width: 768px){
	.contactAddress{
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.contactCircle{
	width: 30vw;
	height: 45vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
@media(max-width: 768px){
	.contactCircle{
		display: none;
	}
}
.contactCircle__img{
	width: 250px;
	height: 250px;
	margin: 0px 0px 0px 0px
}
.contactAddress__logo{
	width: 230px;
	height: 33px;
	margin: 0px 0px 15px 0px
}
.contactAddress__address, .contactAddress__number, .contactAddress__email{
	margin: 10px 0px;
	font-size: 13px;
	color: white;
	font-weight: bolder;
}
@media(max-width: 768px){
	.contactAddress__address, .contactAddress__number, .contactAddress__email{
		width: 240px;
		display: flex;
		align-items: center;
	}
}
.contactAddress__rights{
	margin: 25px 0px 0px 0px;
}
@media(max-width: 768px){
	.contactAddress__rights{
		margin: 200px 0px 0px 0px;
	}
}
.contactAddress__rightsQuick, .contactAddress__rightsVnw{
	margin: 5px 0px;
	font-size: 12px;
}
@media(max-width: 768px){
	.contactAddress__rightsVnw{
		display: flex;
		justify-content: center;
	}
}
.contactAddress__rightsQuick{
	opacity: 0.7;
	margin: 0px 0px 10px 0px;
}
.contactAddress__rightsVnw{
	margin: 12px 0px 0px 0px;
}
.contactAddress__addressIcon, .contactAddress__numberCell, .contactAddress__emailLetter{
	width: 14px;
	height: 14px;
}
.contactMenu{
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px 90px 0px 0px;
}
@media(max-width: 768px){
	.contactMenu{
		height: 0px;
		position: absolute;	
	}
}
.contactMenu__links{
	height: 50vh;
	margin-top: 70%;
}
@media(max-width: 768px){
	.contactMenu__links{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 0;
	}
}
.contactMenu__linksContent{
	display: flex;
	font-size: 11px;
	font-weight: bold;
	line-height: 36px;
	color: white;
	text-align: center;
}
@media(max-width: 768px){
	.contactMenu__linksContent{
		align-items: center;
		font-size: 13px;
		font-weight: 600;
	}
}
.contactMenu__spheres{
	margin-bottom: 10px;
}
@media(max-width: 768px){
	.contactMenu__spheres{
		display: none;
	}
}